.contatos {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contatos img {
  object-fit: cover;
  height: 150px;
  display: flex;
  cursor: pointer;
}

article {
  width: 100%;
}

.main > :first-child {
  min-height: 300px;
}

footer{
  bottom: 0;
}